<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ModernUIProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ModernUIProject.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>192.168.1.52</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>myapp</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>dmagno</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>dd2015</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="Style" serializeAs="String">
                <value>Teal</value>
            </setting>
        </ModernUIProject.Properties.Settings>
    </userSettings>
</configuration>